@model IEnumerable<TipoCuenta>

@{
    ViewData["Title"] = "Tipos de cuenta";
}

<h1>@ViewData["Title"]</h1>
<h5 class="mb-5">
    El tipo de cuenta se refiere a que podemos crear cuentas para agrupar nuestros gastos.
</h5>

<a asp-action="Agregar" class="btn btn-primary">Agregar nuevo</a>

<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody id="reordenable">
        @foreach (var cuenta in Model)
        {
            <tr>
                <td>
                    <input hidden="hidden" value="@cuenta.Id" class="ids"/>
                    <a asp-action="Editar" asp-route-id="@cuenta.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Borrar" asp-route-id="@cuenta.Id" class="btn btn-danger">Borrar</a>
                </td>
                <td>
                    @cuenta.Nombre
                </td>
            </tr>
        }
    </tbody>


</table>

@section Scripts {

    <script>

            const urlOrdenar = '@Url.Action("Ordenar")';

            $(function(){
                $("#reordenable").sortable({
                    stop: async function(e, ui){
                        await actualizarOrdenes();
                    }
                });

                //funcion el evento stop
                async function actualizarOrdenes(){
                    var ids= obtenerIds();
                    await fetchActualizarOrdenes(ids);
                }

                //funcion para obtener array con los ids en el nuevo orden
                function obtenerIds(){
                    const ids = $(".ids").map(function(){
                        return $(this).val();
                    }).get();
                    return ids;
                }

               // funcion para hacer el fetch al endpoint ordenar
                async function fetchActualizarOrdenes(ids){

                    const data = JSON.stringify(ids);

                    await fetch(urlOrdenar, {
                    method: 'POST',
                    body: data,
                    headers: {
                        'Content-Type': 'application/json'
                    }
                    });
                }
        });
    </script>
}